body {
  background-color: papayawhip;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
fieldset {
  position:relative;
  width: 200px;
  margin: 0%;
  margin-bottom: 10%;
  text-align: center;
  border-radius:8px;
  border-color: grey;
  border-style: solid;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
p, a {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
a:hover {
  color: white
}
.wrapper {
  display: grid;
  columns: 200px 3;
  grid-gap: .5rem;
}
.img{
  width: 200px;
  transition: transform .1s;
}
.img:hover{
  transform: scale(3);
}
