body {
  background-color: papayawhip;
  font-family: "Open Sans", sans-serif;
  color: rgb(69, 69, 69);
}
button:hover {
  cursor:pointer;
}
fieldset {
  position: relative;
  width: 200px;
  margin: 0%;
  text-align: center;
  border-radius:8px;
  border-color: grey;
  border-style: solid;
}
h1 {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
p, a {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}
a:hover {
  /* color: white; */
  cursor: pointer;
}

.img{
  width: 200px;
  transition: transform .1s;
}
.img:hover{
  transform: scale(3);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

html { font-size: 22px; }

.card {
  padding: 1rem;
}
.cards {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-gap: 1rem;
}
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

#home {
	background: #fcd392e3;
	height: 48px;
	padding-left: 18px;
	border-radius: 12px;
  position : fixed;
  z-index: 999999;
}
#home:hover {
  color: #444444;
  cursor:pointer;
}
