{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
  <fieldset>
    <img src="{{ game.cover_url }}">
  </fieldset>
  <ul>
    <li>Game: <u>{{ game.name }}</u></li>
    <li>Rating: {{ game.total_rating_count }}</li>
    <li>
      Game genres :
      {% for index in gameGenres %}
        <ul>
          <li>{{ index.genre.name }}</li>
        </ul>
      {% endfor %}
      </li>
    <li>
      Screenshots:
        {% for index in screenshots %}
          <fieldset>
            <ul>
              <img src="{{ index.url }}" width="500px">
            </ul>
          </fieldset>
        {% endfor %}
    </li>
  </ul>
</div>

{% endblock %}
