{% extends "layout.njk" %}

{% block content %}
  <center><h2><u>{{ game.name }}</u></h2></center>
    <div>
      <center>
        <fieldset>
          {% if game.cover_url %}
            <img src="{{game.cover_url}}">
          {% else %}
            <img src="/img/No_image_available.png" height="160px" width="160px">
          {% endif %}
        </fieldset>
      <center>
      <table>
        <tbody>
          <tr>
            <td>
              <ul>
                <u><li>Rating:</u> {{ game.total_rating_count }}</li>
                <div>
                  <li><u>Game genres:</u> </li>
                  {% for index in gameGenres %}
                    <ul>
                      <li>{{ index.genre.name }}</li>
                    </ul>
                  {% endfor %}
                  <li><u>Also available on:</u> </li>
                  {% for index in gamePlatforms %}
                    {% if gamePlatforms %}
                      <ul>
                        <li>{{ index.platform.name }}</li>
                      </ul>
                    {% endif %}
                    {% endfor %}
                <li><u>Screenshots:</u> </li>
                </div>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="cards">
        {% for index in screenshots %}
          {# <div class="card"> #}
              <div>
                <img class="img" src="{{ index.url }}">
              </div>
          {# </div> #}
        {% endfor %}
      </div>
    </div>

<footer class=" text-center text-white">
  <div style="background-color: papayawhip">
    &nbsp;
  </div>
</footer>

{% endblock %}
