{% extends "layout.njk" %}

{% block content %}

List Of Platforms :
<div class="cards">
  {% for platform in platforms %}
    <div class="card">
      <fieldset>
        <a href="/platform/{{ platform.id }}">
          <img src="{{platform.logo.url}}">
        </a> <br>
        <a href="/platform/{{ platform.id }}">{{ platform.name }}</a>
      </fieldset>
    </div>
  {% endfor %}
</div>

    {# <button
      class="button">
      <a href="/platformPages?page={{pages-1}}">
      gauche
    </a>
  </button>
    <button
    class="button">
    <a href="/platformPages?page={{pages+1}}">
      droite
    </a>
    </button> #}

{% endblock %}
