{% extends "layout.njk" %}

{% block content %}


<center><h2>List Of Platforms :</h2></center>
<center><h3>Page {{pageNumber}}</h3></center>

{% if pageNumber <= 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled"><a class="shadow mb-5 rounded page-link">page précédente</a></li>
      <li class="page-item"><a class="page-link shadow mb-5 rounded" href="/platformPages?page={{pageNumber+1}}">page suivante</a></li>
    </ul>
  </nav>
{% else %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="shadow mb-5 rounded page-link" href="/platformPages?page={{pageNumber-1}}">page précédente</a></li>
      <li class="page-item"><a class="shadow mb-5 rounded page-link" href="/platformPages?page={{pageNumber+1}}">page suivante</a></li>
    </ul>
  </nav>
{% endif %}

  <div class="cards">
    {% for platform in platforms %}
      <div class="card bg-light mb-3 shadow mb-5 rounded">
        <center>
          <fieldset>
            <a href="/platform/{{ platform.slug }}?page=1">
              {% if platform.logo.url %}
                <img src="{{platform.logo.url}}">
              {% else %}
                <img src="img/No_image_available.png" height="160px" width="160px">
              {% endif %}
            </a> <br>
            <button type="button" class="btn btn-light">
              <a href="/platform/{{ platform.slug }}?page=1">{{ platform.name }}
              </a>
            </button>
          </fieldset>
        <center>
      </div>
    {% endfor %}
  </div>

  {% if pageNumber <= 1 %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="shadow mb-5 rounded page-link">page précédente</a></li>
        <li class="page-item"><a class="shadow mb-5 rounded page-link" href="/platformPages?page={{pageNumber+1}}">page suivante</a></li>
      </ul>
    </nav>
  {% else %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="shadow p-3 rounded page-link" href="/platformPages?page={{pageNumber-1}}">page précédente</a></li>
        <li class="page-item"><a class="shadow p-3 rounded page-link" href="/platformPages?page={{pageNumber+1}}">page suivante</a></li>
      </ul>
    </nav>
  {% endif %}

{% endblock %}
