{% extends "layout.njk" %}

{% block content %}

<h1>GAME</h1>
{% for index in games %}
  {% for i in range (1, 4058)-%}
    <a href="http://videogame-api.fly.dev/games?page={{i}}">Lien {{index}}</a><br>
  {%- endfor %}
{% endfor %}

{% endblock %}
